@import "modern-normalize/modern-normalize.css";

body {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.section-wrapper {
    display: flex;
    height: 100%;
}

.section-year {
    display: flex;
    position: relative;
    flex-shrink: 0;

    min-width: 320px;

    .seasons {
        display: flex;

        & > .section-season {
            display: flex;

            writing-mode: vertical-lr;
            // flex-direction: column;
            flex-wrap: wrap;
            height: 100%;
            box-sizing: border-box;
            padding-top: 6rem;
            padding-left: 1em;
            padding-right: 1em;

            & > a {
                writing-mode: horizontal-tb;
                display: inline-block;
                margin: 0.5em;

                & > .cover-image {
                    --h: calc(calc(calc(calc(100vh - 8em) / 4) * var(--tier)) - 1em);
                    height: var(--h);
                    width: calc(calc(var(--h) / 3) * 2);
                    object-fit: cover;
                }
            }

            &.season-winter {
                background-color: hsl(0, 0%, 95%);
            }
            &.season-spring {
                background-color: hsl(330, 100%, 97.5%);
            }
            &.season-summer {
                background-color: hsl(120, 100%, 95%);
            }
            &.season-fall {
                background-color: hsl(30, 100%, 95%);
            }
        }
    }
}

.year-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: lefet;
    height: 0 !important;
    line-height: 100%;
    > h2 {
        display: inline-block;
        position: sticky;
        font-size: 3rem;
        line-height: 100%;
        left: 0;
        margin: 0;
        padding: 0.5em;
    }
}
